ul {
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style: none;
    padding: 50px;
    text-align: center;
    background-color: rgb(112, 228, 222);
    color: white;
    font-size: medium;
    font-display: white;
}

div.a {
    text-align: left;
    padding: 25px;
    padding-right: 350px;
}

div.b {
    display: block;
    margin-left: auto;
    position: right;
    padding-left: 25px;
    padding-right: 25px;
    justify-content: right;
}
#one {
    background-color: rgb(133, 63, 165);
    font-size: medium;
    color: white;
    text-align: left;
    padding-right: auto;
    margin-right: auto;
    opacity: .9;
}



footer {
    display: flex;
    justify-content: left;
    gap: 50px;
    padding: 50px;
    text-align: left;
    background-color: rgb(179, 123, 104);
    color: white;
    font-size: medium;
    font-display: white;
}