body {

font-display: black;
background-image: url("C:\Users\amyph\OneDrive\Pictures\Wellness\IMG_6267.JPEG");
}

ul {
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style: none;
}