ul {
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style: none;
    padding: 50px;
    text-align: center;
    background-color: rgb(112, 228, 222);
    color: white;
    font-size: medium;
    font-display: white;
}
#one {
    background-color: rgb(108, 13, 151);
    font-size: large;
    color: white;
    text-align: left;
    padding-right: auto;
    margin-right: auto;
    opacity: .9;
}

img {
   display: block;
   margin-left: auto;
   position: right;
   justify-content: right;
}

footer {
    display: flex;
    justify-content: left;
    gap: 50px;
    padding: 50px;
    text-align: left;
    background-color: rgb(179, 123, 104);
    color: white;
    font-size: medium;
    font-display: white;
}