sizes//
@media screen and (max-width: 450px) {
/* Styles for screens smaller than 768px */
   ul {
    display:
    justify-content: : center;
   }
}
@media screen and (min-width: 450px) and (max-width: 1024px) {
/* Styles for screens between 768px and 1024px */
}
@media screen and (min-width: 1024px) {
/* Styles for screens larger than 1024px */
}



ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;
    padding: 25px;
    text-align: center;
    background-color: rgb(110, 202, 198);
    color: white;
    font-size: medium;
    font-display: white;
}




h1 {
    padding-left: 20px;
}

i {
    padding-left: 20px;
}


.title {

    margin-bottom: auto;
}


a {
    text-align: left;
    margin-top: 10px;
    padding: 25px;
    
}


b {
    display: block;
    margin-left: auto;
    position: right;
    margin-bottom: 200px;
    padding-left: 25px;
    padding-right: 25px;
    justify-content: right;
}

img {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 1500px;
    margin-right: 150px;
    align-content: right;
}

video {
    justify-content: space-between;
    float: left;
    margin-left: 100px;
    margin-top: 75px;
}
#one {
    justify-content: right;
    background-color: rgb(133, 63, 165);
    padding: 25px;
    padding-left: 20px;
    text-align: justify;
    color: white;
    font-size: medium;
    margin-top: 300px;
    margin-left: 850px;
    margin-right: 200px;
}


#footer {
    display: flex;
    justify-content: left;
    gap: 50px;
    padding: 40px;
    text-align: left;
    background-color: rgb(110, 202, 198);
    color: white;
    font-size: medium;
    font-display: white;
}